.bg-gris {
	background-color: #E9E9E6;
}
ul li {
	display: inline-block;
}
.mt-1 {
	margin-top: 1%;
}
.t-negrita {
	font-weight: bold;
}
.mg-1 {
	margin: 1%;
}
/*colores*/
.azulface {
	color: #3B5998;
}
.azultwit {
	color: #4099FF;
}
.rojoo {
	color: #C61800;
}
.amarilloo {
	color: #FFCF00;
}
.naranjaa {
	color: #FF6200;
}
.w-20px {
	width: 20px;
}
.imagen {
	height: 80px;
	width: auto;
	border-radius: 5px 0px 0px 5px;
}
.borde-gr {
	border: 1px solid lightgray;
	border-radius: 5px;
	box-shadow: -10px 0px 20px -5px #aaaaaa;
}
.pd-t-1 {
	padding-top: 1%;
}
.imagen2 {
	position: absolute;
	margin-top: -12px;

}
nav {
	background-color: transparent !important;
	border-color: transparent !important;
}
.borde-doble {
	border: 1px solid lightgray;
	border-bottom: 3px solid #B20000;
	height: 80px;
	text-align: center;
}
#rojito {
	background-color: #B20000;
	padding-top: 2px;
	width: 30%;
	margin-top: -7px;
	color: white;
	margin-bottom: 5%;
}
.t-1 {
	font-size: 1.1em;
}
.mg {
	margin-top: -200px !important;
}
.W-100 {
	width: 100%;
}
.input-area {
	border-radius: 5px;
	background-color: #E9E9E6;
	
}
.pd-lr-20 {
	padding-right: 20%;
	padding-left: 20%;
}
.mb-7 {
	margin-bottom: 7%;
}
.lh1-8 {
	line-height: 3;
}
.lh2 {
	line-height: 2;
}
.bg-black {
	background-color: black;
}
.w-50 {
	width: 50%;
}
button {
	border-color: transparent !important;
}
.rouge {
	background-color: #B20000 !important;
	color: white !important;
	font-weight: bold !important;
	
}
.bor-der {
	border-right: 1px solid black;
}
.h-30 {
	height: 90px;
}
 {
	color: white !important;
}
